.resumen-reportes {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.reporte-card {
  background-color: white;
  border-left: 6px solid #49B9B3;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.reporte-card h3 {
  margin: 0 0 0.5rem;
}

.reporte-card p {
  margin: 0.2rem 0;
}
